$neutral-light: #F3F5EB;
$teal: #A7D8CE;
$teal-medium: #88B4AB;
$teal-dark: #6E8383;
$grey-teal: #7A8F8C;
$blue-grey: #39535A;
$teal-darker: #55706A;
$grey-teal-light: #95A8A5;
$blue-grey-dark: #2C3E45;

